name: Sync Daily Job

on:
  schedule:
    - cron: "30 0 * * *"   # 08:30 北京时间
    - cron: "30 1 * * *"   # 09:30
    - cron: "0 2 * * *"    # 10:00
    - cron: "30 2 * * *"   # 10:30
    - cron: "0 3 * * *"    # 11:00
    - cron: "30 3 * * *"   # 11:30
    - cron: "0 5 * * *"    # 13:00
    - cron: "30 5 * * *"   # 13:30
    - cron: "0 6 * * *"    # 14:00
    - cron: "30 6 * * *"   # 14:30
    - cron: "45 6 * * *"   # 14:45
    - cron: "0 7 * * *"    # 15:00
    - cron: "30 7 * * *"   # 15:30
    - cron: "0 13 * * *"   # 21:00

  workflow_dispatch:

jobs:
  run-sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run sync_daily.py
        run: |
          python scripts/sync_daily.py
